@model IEnumerable<Employement_Project_MVC.Models.RoleViewModel>


<div class="col-sm-12" style="background-color:white ;padding-top:15px;padding-bottom:15px">

    <div class="col-sm-12">
        <div class="panel panel-body panel-success">
            <center><h4>All Roles In Web Site</h4></center>
            <center><p>You Can Delete or Edit And Role and Add new Role</p></center>
        </div>
    </div>
    @foreach (var item in Model)
    {
    <div class="Div_in col-sm-3">
        <div style=" text-align: center; justify-content: center; align-items: center; display: block;">
            <p>@item.Id</p>
            <p>@item.Name</p>
            <p><a class="btn btn-warning btn-block" href="/Roles/Edit/@item.Id">Edit</a></p>
            <p><a class="btn btn-danger btn-block" href="/Roles/Delete/@item.Id">Delete</a></p>

        </div>
    </div>
            }
        </div>
