@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
<center>
    <div class="panel panel-body panel-success" style="width:35%;margin-top:60px" >
        <cener>

            <div class="col-sm-12">

                <div class="panel panel-body panel-info">
                    <center>
                        <h4>Are You Want Delete Role?</h4>
                        <p>ملاحظة : عند حذف هذة الرول سوف يتسب ذالك في تغير صلاحات  المستخدمين</p>
                    </center>
                </div>
                <div class="col-sm-12"  style="background-color: azure; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); ">
                    <p>Delete This IS Role</p>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a class="btn btn-info" href="/Admin/Admin"> Back !</a>
                        </div>

                    }
                </div>
            </div>
        </cener>
    </div>
   
</center>
